<ion-content>
  <ion-slides pager="true">
      <ion-slide>
          <img src="assets/icon/photog.png" />
          <h3>Bem-Vindo</h3>
          <p></p>
          <ion-button expand="block" class="btncolor" (click)="login()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            <p style="text-align:center">Entrar com o Google</p>
          </ion-button>
      </ion-slide>
      <ion-slide>
          <img src="assets/icon/photog02.png" />
          <h3>Encontre Confeiteiros</h3>
          <p>O FindCakes ajuda voce encontra os Confeiteiros mias proximo da sua regiao</p>
          <ion-button expand="block" class="btncolor" (click)="login()">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            <p style="text-align:center">Entrar com o Google</p>
          </ion-button>
      </ion-slide>
     
  </ion-slides>
</ion-content>
