<ion-content class="ion-padding-horizontal">
  <div style="height: 100%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
    <img src="assets/logo01.png"/>
    <ion-card-content>
      <ion-card-title style="font-weight: 700; text-align: center;">Bem-Vindo</ion-card-title>
      <ion-button expand="block" class="btncolor" (click)="login()">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        <p style="text-align:center">Entrar com o Google</p>
      </ion-button>

    </ion-card-content> 
  </ion-card>
</div>
</ion-content>